.fullScreen {
    height: 100vh;
}

.accueil {
    background-image:   linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
                        url(../images/autres/dossiers.jpg);
    background-size: cover;
}